html{
	font-size: 16px;
}
body{
	overscroll-behavior-x: none;
	scroll-behavior: smooth;
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0.375rem;
}

.top-nav{
	margin: 0;
	position: fixed;
	background-color: #000000;
	width: 42px;
	height: 42px;
	top: 4px;
	left: 4px;
	border-radius: 2px;
}

.gallery {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(22, 15rem);
	grid-template-rows: repeat(11, 15rem);
	grid-template-areas: 
	"one one one one two two two three three three three four four four four five five five six six six six"
	"one one one one two two two three three three three four four four four five five five six six six six"
	"one one one one two two two three three three three four four four four five five five six six six six"
	"seven seven seven seven two two two three three three three ten ten ten ten five five five six six six six"
	"seven seven seven seven eight eight eight eight nine nine nine ten ten ten ten o-one o-one o-one o-one o-two o-two o-two"
	"seven seven seven seven eight eight eight eight nine nine nine ten ten ten ten o-one o-one o-one o-one o-two o-two o-two"
	"seven seven seven seven eight eight eight eight nine nine nine ten ten ten ten o-one o-one o-one o-one o-two o-two o-two"
	"o-three o-three o-three o-three o-four o-four o-four o-four nine nine nine o-six o-six o-six o-six o-seven o-seven o-seven o-seven o-two o-two o-two"
	"o-three o-three o-three o-three o-four o-four o-four o-four o-five o-five o-five o-six o-six o-six o-six o-seven o-seven o-seven o-seven o-eight o-eight o-eight"
	"o-three o-three o-three o-three o-four o-four o-four o-four o-five o-five o-five o-six o-six o-six o-six o-seven o-seven o-seven o-seven o-eight o-eight o-eight"
	"o-three o-three o-three o-three o-four o-four o-four o-four o-five o-five o-five o-six o-six o-six o-six o-seven o-seven o-seven o-seven o-eight o-eight o-eight"
}

.img-div{
	text-align: center;
	pointer-events: none;
	background-color: #f7f7f7;
}

.img-div > img { 
	width: 100%;
	height: 100%;
}

.one {
	grid-area: one;
}
.two { 
	grid-area: two;
}
.three {
	grid-area: three;
}
.four {
	grid-area: four;
}
.five {
	grid-area: five;
}
.six {
	grid-area: six;
}
.seven {
	grid-area: seven;
}
.eight {
	grid-area: eight;
}
.nine {
	grid-area: nine;
}
.ten{
	grid-area: ten;
}
.o-one {
	grid-area: o-one;
}
.o-two { 
	grid-area: o-two;
}
.o-three {
	grid-area: o-three;
}
.o-four {
	grid-area: o-four;
}
.o-five {
	grid-area: o-five;
}
.o-six {
	grid-area: o-six;
}
.o-seven {
	grid-area: o-seven;
}
.o-eight {
	grid-area: o-eight;
}

@media screen and (max-width: 600px) {
	html{
		font-size: 8px;
	}
}